@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --green: #4caf50;
  --orange: #d49e1e;
}

body {
  font-family: 'Merriwether', Georgia, serif;
  background: rgb(231, 229, 225);
  font-size: 10px;
  margin: 0;
}

input,
button {
  font-family: inherit;
}
