@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --green: #4caf50;
  --orange: #d49e1e;
  --blue: #3e71af;
}

body {
  font-family: 'Merriwether', Georgia, serif;
  background: rgb(231, 229, 225);
  font-size: 10px;
  margin: 0;
}

@media (min-width: 420px) {
  body {
    font-size: 14px;
  }
}

input,
button {
  font-family: inherit;
}

.btn-primary {
  background: var(--green);
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em;
  font-size: 1.2em;
  letter-spacing: 1.4px;
  color: #ddd;
  cursor: pointer;
  border-radius: 3px;
}
